<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color:green;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(185, 175, 175);
  color: black;
}

.topnav a.active {
  background-color: #289e2b;
  color: white;
}
</style>
</head>
<body>
    {% block nav %}
<div class="topnav">
  <a class="active" href="{% url 'index' %}">Home</a>
  <a href="{% url 'drive' %}">Drive</a>
  <a href="{% url 'generateReport' %}">Generate report</a>
  <a href="{% url 'howToUse' %}">How to use</a>
  {% endblock %}
</div>
</body>
</html>